# Compiled Object files
*.o
*.ko
*.obj
*.elf

# Compiled Dynamic libraries
*.so
*.dylib
*.dll

# Compiled Static libraries
*.a
*.lib

# Executables
*.exe
*.out
*.app

# Precompiled Headers
*.gch
*.pch

# Debug files
*.dSYM/
*.su
*.idb
*.pdb
*.debug
*.exp

# Visual Studio Code files
.vscode/

# Code::Blocks project files
*.layout
*.depend
*.cbp
*.workspace

# Qt Creator project files
*.pro.user
*.moc
*.qrc

# Xcode project files
*.xcodeproj/

# Eclipse project files
.settings/

# Text Editor backup files
*~
.#*

# Operating System files
.DS_Store
Thumbs.db
ehthumbs.db
desktop.ini
